.main-template {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.main-content {
  padding: 2rem 1rem 1rem;
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
}

@media screen and (min-width: 1024px) {
  .main-template {
    max-width: 768px;
    margin: 0 auto;
  }
}
