.btn-play {
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  min-height: 200px;
  min-width: 200px;
  color: var(--primary-light-hsl);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: border-radius 3.5s linear;
  background: var(--tertiary-hsl);
  background-image: linear-gradient(
    45deg,
    var(--secondary-dark-hsl) 0%,
    var(--tertiary-hsl) 100%
  );
  animation: playButton 3.5s linear infinite;
}

@keyframes playButton {
  25% {
    border-radius: 70% 30% 35% 70% / 60% 50% 50% 40%;
  }
  50% {
    border-radius: 36% 64% 80% 20% / 26% 59% 41% 74%;
  }
  75% {
    border-radius: 45% 55% 79% 21% / 49% 40% 60% 51%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

@media screen and (min-width: 1024px) {
  .btn-play {
    font-size: 3rem;
    min-height: 250px;
    min-width: 250px;
  }
}
